$header-background-colour: #4d4d4d;
$header-colour: white;
$footer-background-colour: #4d4d4d;
$footer-colour: white;
$active: #d40000;
$content-header-background-colour: #2c89a0;
$content-header-colour: white;