*, *:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
 
.column {
  width: inherit;
  height: inherit;
  display: -webkit-flex;
  display: flex;

  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;

  -webkit-flex-direction: column;
  flex-direction: column;  
}

.column > div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  border-bottom: 1px solid #b6b6b6;
  min-height: 40px;  
  width: inherit;
}

.row {  
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.row > div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  height: inherit;
    
}

.centered{
  margin: auto;
  text-align: center;
}


